@font-face {
	font-family: "Gill Sans W01 Light";
	src: url("fonts/gill-sans-w01-light.eot");
	src: url("fonts/gill-sans-w01-light.eot") format("eot"), url("fonts/gill-sans-w01-light.woff2") format("woff2"), url("fonts/gill-sans-w01-light.woff") format("woff"), url("fonts/gill-sans-w01-light.ttf") format("truetype"), url("fonts/gill-sans-w01-light.svg") format("svg");
}

@font-face {
	font-family: "Gill Sans W01 Medium";
	src: url("fonts/gill-sans-w01-medium.eot");
	src: url("fonts/gill-sans-w01-medium.eot") format("eot"), url("fonts/gill-sans-w01-medium.woff2") format("woff2"), url("fonts/gill-sans-w01-medium.woff") format("woff"), url("fonts/gill-sans-w01-medium.ttf") format("truetype"), url("fonts/gill-sans-w01-medium.svg") format("svg");
}

@font-face {
	font-family: "Gill Sans W01 Bold";
	src: url("fonts/gill-sans-w01-bold.eot");
	src: url("fonts/gill-sans-w01-bold.eot") format("eot"), url("fonts/gill-sans-w01-bold.woff2") format("woff2"), url("fonts/gill-sans-w01-bold.woff") format("woff"), url("fonts/gill-sans-w01-bold.ttf") format("truetype"), url("fonts/gill-sans-w01-bold.svg") format("svg");
}

@media (min-width: 768px) {
	html {
		height: 100%;
	}
}

body {
	background-color: #AAB938;
	color: #fff;
	font-family: 'Gill Sans W01 Medium';
}

@media (min-width: 768px) {
	.full-height {
		height: 100%;
		overflow-y: hidden;
	}
}

.left-menu {
	position: relative;
	margin-left: -15px;

	background-color: #fff;

	-moz-box-shadow: 4px 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 4px 0 4px rgba(0,0,0,0.3);
	box-shadow: 4px 0 4px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
	.left-menu .menu-header {
		position: absolute;
		top: 20;
		left: 0;
		right: 0;
		height: 25px;
		padding: 4px 4px;
	}
}

.left-menu .menu-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	padding: 0px 12px;
}

.left-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 25px;
}

.left-menu ul li {
	list-style: none;
	
	margin: 0;
	padding: 0;
	height: 20%;
	
	padding: 6px 12px;
}

.left-menu ul li a {
	display: block;
	position: relative;
	height: 100%;
	z-index: 1;

	border-bottom: 1px solid #3475A3;
	text-decoration: none;
}

.left-menu ul li a:hover,
.left-menu ul li a:focus,
.left-menu ul li a:active {
	text-decoration: none;
}

.menu-header a:hover,
.menu-header a:focus,
.menu-header a:active {
	text-decoration: none;
	color: white;
}

a.home-button:hover,
a.home-button:focus,
a.home-button:active {
	background-color: #3b85bf;
}

a.contact-button:hover,
a.contact-button:focus,
a.contact-button:active {
	background-color: #0b4b7e;
}

.left-menu ul li a:hover:before,
.left-menu ul li a:focus:before,
.left-menu ul li a:active:before {
	background-color: #A1AE2B;
}

.left-menu ul li a.active:before {
	background-color: #005587;
}

.left-menu ul li:last-child a{
	border-bottom: none;
}

.image {
	border: 6px solid #fff;

	background-size: cover;
	background-position: right center;

	-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,0.5),
		inset 0 3px 2px rgba(0,0,0,0.5),
		0 0 0 1px #D0CDCD;
	-moz-box-shadow: 3px 3px 2px rgba(0,0,0,0.5),
		inset 0 3px 2px rgba(0,0,0,0.5),
		0 0 0 1px #D0CDCD;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.5),
		inset 0 3px 2px rgba(0,0,0,0.5),
		0 0 0 1px #D0CDCD;
}

.left-menu ul li a .image {
	height: 75%;
	width: 70%;
	margin-left: -18px;
}

a.menu-link {
	float: right;
	letter-spacing: 2px;
	color: #1b5b8e;
}

.menu-button {
	font-family: "Gill Sans W01 Light", sans-serif;
	margin: 1px;
	float: right;

	width: 80px;
	
	color: white;
	border-radius: 0;

	font-size: 0.9em;
	letter-spacing: 2px;
	text-align: center;
}

.contact-button {
	background-color: #1b5b8e;
}

.home-button {
	background-color: #4b95cf;
}

.page-1 .image {
	background-image: url(img/person1_low.jpg);
}

.page-2 .image {
	background-image: url(img/person2_low.jpg);
}

.page-3 .image {
	background-image: url(img/person3_low.jpg);	
}

.page-4 .image {
	background-image: url(img/person4_low.jpg);
}

.page-5 .image {
	background-image: url(img/person5_low.jpg);
}

.left-menu ul li a:before {
	position:absolute;
	content: '';

	height: 70%;
	bottom: 6px;
	left: 0;
	right: 0;
	z-index: -1;

	text-align: right;
    background: #AAB938 url(img/arrow.png) no-repeat center right;
    background-size: auto 100%;
}

.content-area {
	position: relative;
}

.content-area header {
	height: 20%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.content-area header h1 {
    font-size: 90px;
    color: #bfc667;
    letter-spacing: 20px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.content-area .content {
	height: 80%;
	/*overflow: hidden;*/
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content-area .content .page {
	height: 100%;
	/*overflow: hidden;*/
}

.content-area footer {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    background-color: #AAB938;
} 

.content-area footer > div {
	max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.content-area footer p {
	font-size: 11px;
	letter-spacing: 3px;
}

.content-area footer .logo {
	background: url(img/logo.png);
	background-size: cover;
	width: 100px;
	height: 94px;
	float: right;
	margin-top: -80px;
}

#page-home h2 {
	font-family: "Gill Sans W01 Light", sans-serif;
	font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 30px;
}

.page p {
	font-family: "Gill Sans W01 Light", sans-serif;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 21px;
    letter-spacing: 3px;
}

.page p.additional {
	font-size: 15px;
    margin-left: 160px;
    line-height: 1.5;
}

.page .author {
	float: right;
}

.page .author h4 {
	margin-bottom: 0;

	font-size: 13px;
	font-weight: bold;
	letter-spacing: 4px;
}

.page .author p {
	font-size: 13px;
}

.page .white-block {
	position: relative;
	
	margin-bottom: 20px;
	padding: 25px;

	background-color: #fff;
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.page .white-block h3 {
    color: #D2D4D4;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    letter-spacing: 4px;
}

.page .white-block h3 strong {
	color: #31A5D9;
	font-weight: inherit;
}

.page .white-block p {
    color: #0d5587;
    font-size: 17px;
    margin-top: 20px;
    position: relative;
    font-family: "Gill Sans W01 Bold", sans-serif;
    line-height: 1.6;
    margin-left: 15px;
}

.page .white-block p strong {
    font-size: 25px;
    line-height: 0.1;
}

.page .white-block p strong:first-child:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #C3C4C5;
    border-left: 2px solid #C3C4C5;
    position: absolute;
    left: -11px;
    top: -13px; 
}

.page .white-block p strong:first-child:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #0d5587;
    border-left: 2px solid #0d5587;
    position: absolute;
    left: -12px;
    top: -14px;     
}

.page .white-block p strong:last-child:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #C3C4C5;
    border-right: 2px solid #C3C4C5;
    position: absolute;
    right: -13px;
    bottom: 0; 
}

.page .white-block p strong:last-child:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #0d5587;
    border-right: 2px solid #0d5587;
    position: absolute;
    right: -12px;
    bottom: 1px;     
}

.page .white-block .image {
	height: 150px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.page .white-block:before {
    position: absolute;
    content: ' ';

    top: 50%;
    bottom: 20px;
    left: 60%;
    right: 0;

    background-color: #0d5587;
}

@media (min-width: 1180px) and (max-width: 1280px) {
	.content-area header h1 {
		font-size: 80px;
	}
}

@media (min-width: 1024px) and (max-width: 1179px) {
	.content-area header h1 {
		font-size: 60px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.content-area header h1 {
		font-size: 47px;
	}
}



@media (min-height: 765px) {
	.content-area header h1 {
		margin-top: 60px;
	}
}

@media (max-height: 700px), (max-width: 1179px) {
	.page .white-block {
		padding: 10px;
	}

	.page p {
		font-size: 19px;
		margin-bottom: 20px;
	}
}

@media (max-height: 650px) {
	.content-area header {
		position: absolute;
		height: 90px;
	}

	.content-area header h1 {
		margin-top: 10px;
	}

	.content-area .content {
		height: 100%;
		padding-top: 90px;
	}

	.page p {
		font-size: 19px;
		margin-bottom: 10px;
	}

	.content-area footer .logo {
		width: 50px;
		height: 47px;
		margin-top: -32px;
	}
}

@media (max-height: 550px) {
	.page p {
		font-size: 17px;
		margin-bottom: 10px;
	}

	.content-area .content {
		padding-top: 70px;
	}
}

@media (min-width: 768px) {
	.left-menu-toggle {
		display: none;
	}
	.left-menu {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.content-area header h1 {
		font-size: 30px;
		letter-spacing: 5px;
		margin-top: 20px;
	}

	.left-menu {
		position: initial;
		display: none;
	}

	.left-menu ul li {
		height: 100px;
	}

	.left-menu ul li a .image {
		width: 60%;
	}

	.left-menu .menu-header {
		padding: 12px;
	}

	.menu-button {
		float: none;
		display: block;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.left-menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	#page-home h2 {
		font-size: 24px;
	}

	.content-area .content .page {
		height: auto;
	}

	.content-area .content {
		height: auto;
	}

	.content-area footer {
		position: relative;
		bottom: auto;
		right: auto;
		left: auto;
		height: auto;
	}

	.content-area footer .logo {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}

	.page .author {
		float: none;
	}

	.page p.additional {
		margin-left: 0;
	}

	.page .white-block h3 {
		font-size: 24px;
		margin-bottom: 5px;
	}

	.page .white-block:before {
	    top: 100px;
	    height: 120px;
	    left: 20%;
	    bottom: auto;
	}

	.page .white-block p strong:last-child:before {
		right: -3px;
	}

	.page .white-block p strong:last-child:after {
		right: -2px;
	}

	.left-menu-toggle {
		background: none;
    	margin-left: -6px;
    	cursor: pointer;
	}
}
